#blip-chat-container {
  position: fixed;
  bottom: 40px;
  right: 80px;

  #blip-chat-iframe {
    position: absolute;
    bottom: 90px;
    right: -42px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms, transform 500ms, visibility 500ms, height 500ms step-end, width 500ms step-end;
    transform: translateY(10%);
    z-index: 1;
    height: 0;
    width: 0;

    &.blip-chat-iframe-opened {
      opacity: 1;
    transform: translateY(0);
    visibility: visible;
    height: 610px;
    width: 400px;
    transition: opacity 500ms, transform 500ms, visibility 500ms;
    }

  }

  #blip-chat-open-iframe {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 2;
      position: fixed;
      width: 4%;
      max-width:60px;
      min-width: 48px;
      right: 35px;
      bottom: 35px;
      visibility: hidden;
      opacity: 0;
      transition: transform 200ms, opacity 500ms;
      box-shadow: 0 1px 6px rgba(0,0,0,.1),0 2px 32px rgba(0,0,0,.1);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;

    &:active {
      transform: scale(0.9);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

  }

}

#blip-chat-open-iframe {
  display: none;
}

#blip-chat-iframe {
  width: 100%;
  height: 100%;
}
